@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/';
@custom-variant dark (&:is(.dark *));

@layer utilities{
    .container{
        margin-inline: auto;
    }
}